    <footer>
        <div class="container-footer">
            <nav class="nav-footer">
                <ul class="redes">
                    <li>
                        <a href="#Facebook">
                            <i class='bx bxl-facebook-circle'></i>
                        </a>
                    </li>
                    <li>
                        <a href="#Instagram">
                            <i class='bx bxl-instagram-alt' ></i>
                        </a>
                    </li>
                    <li>
                        <a href="#Twitter">
                            <i class='bx bxl-twitter' ></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <img src="static/img/footer.png" alt="coffee" class="footer-img">
            <div class="history">
                <h2>ORGANIC FAIR TRADE COFFEE</h2>
                <p>Heine Brothers' is proud to only serve organic fair trade coffee and to do our part to create community in Louisville (for the past 25 years and counting)!</p>
            </div>
            <div class="priv">
                <a href="#policy">
                    <p>Privacy Policy</p>
                </a>
            </div>
            <div class="CR">
                <p>© Copyright 2021</p>
            </div>
        </div>
    </footer>
</body>
</html>