<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heine Brothers'</title>
    <!--Font tinos-->
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css')}}">
    <!--boxicon-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!--bar icon-->
    <link rel="shortcut icon" href="../static/img/plant.png">
    <!--Script para los iconos user, lock and eye/eye-slash-->
    <script src="https://kit.fontawesome.com/92c2e32a73.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-image: url("static/img/total_bg.jpg");
        }
    </style>
</head>

<body>
    <header>
        <div class="container">
            <nav class="nav-head">
                <img src="static/img/brand.png" alt="Heine Brothers'" class="nav-brand-logo">
                <img src="static/img/Namebrand.png" alt="Heine Brothers'" class="nav-brand-name">
                <ul class="nav-menu-right">
                    <li>
                        <a href="#compras">
                            <i class='bx bx-cart'></i>
                        </a>
                    </li>
                    <li class="user-menu">
                        <a href="#admin">
                            <i class='bx bx-menu'></i>
                        </a>
                    </li>
                    <li>
                        <div class="userlogin">
                            <a href="#user">
                                <i class='bx bx-user-circle'></i>
                            </a>
                            <div class="nenu-user">
                                <a href="#register">
                                    <i class='bx bx-user-plus'>Register</i>
                                </a>
                                <a href="#Login">
                                    <i class='bx bx-user-check'>Login</i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="nav-menu">
                    <li>
                        <a href="" class="home">Home</a>
                    </li>
                    <li>
                        <a href="" class="shop">Shop</a>
                    </li>
                    <li>
                        <a href="" class="about">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>