{% include 'header.html' %}

<main>
    <!--demarcacion de secciones-->
    <section class="container mission-vision">
        <h2>Mission & Vision</h2>
        <div class="container-mision-vision">
            <p>
                At Heine Brothers' we are committed to finding and roasting the best organic and fair trade coffees in the world. fair trade coffees from around the world. We are equally committed to doing this in a way that results in farmers and our planet being treated
                with respect and dignity. that results in coffee growers and our planet being treated with respect and dignity.
            </p>
        </div>
    </section>
    <section class="container about-us">
        <h2>About us</h2>
        <div class="container-about-us">
            <p>Heine Brothers is a 100% fair trade and organic coffee roaster, with our headquarters, roastery and training center in Louisville's historic Portland neighborhood. We opened our 1st store in October 1994 in the Highlands neighborhood of Louisville,
                KY, and now have 17 stores in Louisville. From the beginning, Heine Brothers has been committed to operating in a responsible and sustainable manner. responsible and sustainable manner: donating to numerous community groups, recycling,
                being a founding member of the first of the world's 1st fair trade coffee buying cooperative, buying locally. locally. Through your support, we strive to do even more, while offering exceptional beverages, perfectly roasted and perfectly
                exceptional beverages, perfectly roasted coffee and friendly service. At Heine Brothers' we are committed to finding and roasting the best organic and fair trade coffees in the world. fair trade coffees in the world. We are equally committed
                to doing this in a way that will result in results in coffee farmers and our planet being treated with respect and dignity.
            </p>
        </div>
        <div class="image-logo-home-">
            <img src="static/img/logoHB modificado.jpg" alt="logo Heine brothers">
        </div>
    </section>
    <section class="container contact">
        <div class="image-logo-contact">
            <img src="static/img/contact.png" alt="logo contact">
        </div>
        <div class="contac-text">
            <p>Heine Brothers' Coffee Headquarters 1301 W. Main Street Louisville, KY 40203 Teléfono: (502) 896-4451 Fax: (502) 410-0499
            </p>
        </div>
    </section>
</main>

{% include 'footer.html' %}