<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heine Brothers'</title>
    <!--Font tinos-->
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css')}}">
    <!--boxicon-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!--bar icon-->
    <link rel="shortcut icon" href="../static/img/plant.png">
    <style>
        body {
            background-image: url("static/img/total_bg.jpg");
        }
    </style>
</head>

<body>
    <header>
        <div class="container">
            <nav class="nav-head">
                <img src="static/img/brand.png" alt="Heine Brothers'" class="nav-brand-logo">
                <img src="static/img/Namebrand.png" alt="Heine Brothers'" class="nav-brand-name">
                <ul class="nav-menu-right">
                    <li>
                        <a href="#compras">
                            <i class='bx bx-cart'></i>
                        </a>
                    </li>
                    <li class="user-menu">
                        <a href="#admin">
                            <i class='bx bx-menu'></i>
                        </a>
                    </li>
                    <li>
                        <div class="userlogin">
                            <a href="#user">
                                <i class='bx bx-user-circle'></i>
                            </a>
                            <div class="nenu-user">
                                <a href="#register">
                                    <i class='bx bx-user-plus'>Register</i>
                                </a>
                                <a href="#Login">
                                    <i class='bx bx-user-check'>Login</i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="nav-menu">
                    <li>
                        <a href="" class="home">Home</a>
                    </li>
                    <li>
                        <a href="" class="shop">Shop</a>
                    </li>
                    <li>
                        <a href="" class="about">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--definicion del contenido principal-->
    <main>
        <!--demarcacion de secciones-->
        <section class="container mission-vision">
            <h2>Mission & Vision</h2>
            <div class="container-mision-vision">
                <p>
                    At Heine Brothers' we are committed to finding and roasting the best organic and fair trade coffees in the world. fair trade coffees from around the world. We are equally committed to doing this in a way that results in farmers and our planet being treated
                    with respect and dignity. that results in coffee growers and our planet being treated with respect and dignity.
                </p>
            </div>
        </section>
        <section class="container about-us">
            <h2>About us</h2>
            <div class="container-about-us">
                <p>Heine Brothers is a 100% fair trade and organic coffee roaster, with our headquarters, roastery and training center in Louisville's historic Portland neighborhood. We opened our 1st store in October 1994 in the Highlands neighborhood of
                    Louisville, KY, and now have 17 stores in Louisville. From the beginning, Heine Brothers has been committed to operating in a responsible and sustainable manner. responsible and sustainable manner: donating to numerous community groups,
                    recycling, being a founding member of the first of the world's 1st fair trade coffee buying cooperative, buying locally. locally. Through your support, we strive to do even more, while offering exceptional beverages, perfectly roasted
                    and perfectly exceptional beverages, perfectly roasted coffee and friendly service. At Heine Brothers' we are committed to finding and roasting the best organic and fair trade coffees in the world. fair trade coffees in the world.
                    We are equally committed to doing this in a way that will result in results in coffee farmers and our planet being treated with respect and dignity.
                </p>
            </div>
            <div class="image-logo-home-">
                <img src="static/img/logoHB modificado.jpg" alt="logo Heine brothers">
            </div>
        </section>
        <section class="container contact">
            <div class="image-logo-contact">
                <img src="static/img/contact.png" alt="logo contact">
            </div>
            <div class="contac-text">
                <p>Heine Brothers' Coffee Headquarters 1301 W. Main Street Louisville, KY 40203 Teléfono: (502) 896-4451 Fax: (502) 410-0499
                </p>
            </div>
        </section>
    </main>
    <footer>
        <div class="container-footer">
            <nav class="nav-footer">
                <ul class="redes">
                    <li>
                        <a href="#Facebook">
                            <i class='bx bxl-facebook-circle'></i>
                        </a>
                    </li>
                    <li>
                        <a href="#Instagram">
                            <i class='bx bxl-instagram-alt'></i>
                        </a>
                    </li>
                    <li>
                        <a href="#Twitter">
                            <i class='bx bxl-twitter'></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <img src="static/img/footer.png" alt="coffee" class="footer-img">
            <div class="history">
                <h2>ORGANIC FAIR TRADE COFFEE</h2>
                <p>Heine Brothers' is proud to only serve organic fair trade coffee and to do our part to create community in Louisville (for the past 25 years and counting)!</p>
            </div>
            <div class="priv">
                <a href="#policy">
                    <p>Privacy Policy</p>
                </a>
            </div>
            <div class="CR">
                <p>© Copyright 2021</p>
            </div>
        </div>
    </footer>
</body>
</html>
